:root {
  --clr-bg: #090909;
  --clr-md: #303030;
  --clr-md-accent: #696969;
  --clr-li: #eee5e9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: flex;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-li);
  font-size: 1rem;
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.63px;
}

/* ---------------------------SCROLLBAR---------------------- */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-md) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

#ERROR_404_PAGE {
  height: 100svh;
  display: grid;
  place-content: center;
}
/* ---------------------------NAV LEFT---------------------- */
#NAV_LEFT {
  width: 50dvw;
  height: 100svh;
}

/* ---------------------------FEED + ARTISTS WRAPPERS---------------------- */

#feed-wrapper,
#artists-wrapper,
#artist-profile-page-wrapper {
  height: 100svh;
  width: 50dvw;
  overflow-y: scroll;
}

/* ---------------------------FILTER BAR---------------------- */

#filterbar {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filterbar-content {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
}

/* ------------------------------POSTS----------------------- */

#feed-wrapper {
  display: grid;
}

.post {
  display: flex;
  justify-content: center;
}

/* ------------------------------ARTIST CARD----------------------- */

#artists-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 15rem));
  grid-template-rows: 20rem;
}

.artist-card {
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
}
.artist-card-name {
  font-weight: 400;
}
.artist-card-img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.artist-name-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
  color: var(--clr-li);
}

/* ------------------------------ARTIST PROFILE----------------------- */

.artist-profile-img {
  height: 20rem;
  width: 20rem;
}
