/* ----------- ROOT + RESET ------------------------------------------------------ */
:root {
  --DewWhite: #eaeae9;
  --WolfGrey: #c1c1c1;
  --TulipBlurple: #7863f7;
  --FireRed: #ef4923;
  --Charcoal: hsl(0, 3%, 6%);

  --GrassGreen: #c1d73a;
  --ForestGreen: hsl(106, 34%, 15%);
  --OffWhite: #eaeae9;
  --SubtleBlack: #1a1411;
  --LavaRed: #ef4923;

  .forest.dark {
    --clr-bg: var(--SubtleBlack);
    --clr-md: var(--ForestGreen);
    --clr-li: var(--OffWhite);
    --clr-accent1: var(--LavaRed);
    --clr-accent2: var(--GrassGreen);
  }

  .forest.light {
    --clr-bg: var(--OffWhite);
    --clr-md: var(--ForestGreen);
    --clr-li: var(--SubtleBlack);
    --clr-accent1: var(--GrassGreen);
    --clr-accent2: var(--LavaRed);

    .symptoms-of-nature-logo-light {
      filter: hue-rotate(220deg);
    }
  }

  .techno.dark {
    --clr-bg: var(--Charcoal);
    --clr-md: var(--WolfGrey);
    --clr-li: var(--DewWhite);
    --clr-accent1: var(--TulipBlurple);
    --clr-accent2: var(--FireRed);
  }

  .techno.light {
    --clr-bg: var(--DewWhite);
    --clr-md: var(--WolfGrey);
    --clr-li: var(--Charcoal);
    --clr-accent1: var(--TulipBlurple);
    --clr-accent2: var(--FireRed);
  }

  .dark .symptoms-of-nature-logo-light {
    display: none;
  }

  .light .symptoms-of-nature-logo-dark {
    display: none;
  }
}

/* .light {
}

.dark {
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  hr {
    opacity: 15%;
    border-color: var(--clr-li);
  }
}

/* ----------- FONT ------------------------------------------------------ */
/* @font-face {
  font-family: "PPEiko thin";
  src: url("/fonts/PPEiko/PPEiko-Thin.otf") format("opentype");
}

@font-face {
  font-family: "PPEiko heavy";
  src: url("/fonts/PPEiko/PPEiko-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "PPEiko blackItalic";
  src: url("/fonts/PPEiko/PPEiko-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "PPEiko lightItalic";
  src: url("/fonts/PPEiko/PPEiko-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "PPEiko medium";
  src: url("/fonts/PPEiko/PPEiko-Medium.otf") format("opentype");
}

@font-face {
  font-family: "OTBrut regular";
  src: url("/fonts/OTBrut/OTBrut-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OTBrut italic";
  src: url("/fonts/OTBrut/OTBrut-Italic.otf") format("opentype");
}

@font-face {
  font-family: "OTBrut italicMono";
  src: url("/fonts/OTBrut/OTBrut-ItalicMono.otf") format("opentype");
}

@font-face {
  font-family: "OTBrut regularMono";
  src: url("/fonts/OTBrut/OTBrut-RegularMono.otf") format("opentype");
} */

@font-face {
  font-family: "PPMondwest Regular";
  src: url("/fonts/PPMondwest-Regular.otf") format("opentype");
}

/* --------------------------- BODY ----------------------------------------- */

body {
  height: 100svh;
  width: 100dvw;
  color: var(--clr-li);
  background-color: var(--clr-bg);
  font-family: "PPMondwest Regular";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.63px;
  line-height: inherit;
  overflow-x: hidden;
}

/* --------------------------- SCROLLBAR -------------------------------- */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-accent1) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

#ERROR_404_PAGE {
  height: 100svh;
  display: grid;
  place-content: center;
}

/* --------------------------- LANDINGPAGE ---------------------------- */

#LANDING-PAGE {
  height: 100svh;
  width: 100dvw;
  display: flex;
  position: absolute;
  background-color: var(--clr-md);
  z-index: 200;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150%;
    transform: translate(-50%, 50%);
    color: var(--clr-li);
    background-color: var(--clr-bg);
    padding: 1rem;
  }

  video {
    display: flex;
    width: 100dvw;
    height: 100svh;
    object-fit: cover;
  }
}

/* --------------------------- LOGOS ---------------------- */

.symptoms-of-nature-logo.img .techno.dark {
  content: url("./assets/logos/SON_LOGOlightmode-small.png");
}

/* --------------------------- LEFT COL + NAV ------------------------------------ */

#LEFT-COL-WRAPPER {
  /* width: 35dvw; */
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* -------------ISSUE WITH LEFT COL FLEXING */
  flex: 1;
}

.left-col--top {
  display: flex;
  flex: 0.2;
  /* padding: 0.1rem; */
  a {
    color: var(--clr-li);
    text-decoration: none;
  }
  h1 {
    font-size: clamp(400%, 7vw, 800%);
    /* font-family: "OTBrut regular"; */
    flex: 5;
  }

  .symptoms-of-nature-logo-wrapper {
    display: flex;
    img {
      object-fit: contain;
      height: 100%;
      width: 15rem !important;
    }
  }
  .symptoms-of-nature-logo-dark,
  .symptoms-of-nature-logo-light {
    padding: 0.25rem;
  }
}
nav {
  display: grid;
  flex: 1;
  font-size: 1.2em;
  place-items: center;
  text-align: center;
  place-content: center end;
  margin-right: 1rem;
  line-height: 1;
  height: auto;

  a {
    flex: auto;
    padding: 0.15rem;
  }
}

.socials-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  flex: 0.25;
  padding-inline: 1rem;
  height: 100%;
  align-items: center;
  gap: 0.5rem;
  a {
    display: flex;
    place-content: center;
    padding: 0.25rem;
    /* padding-inline: 0.25rem; */
  }
  svg {
    height: 2rem;
    width: 2rem;
    color: var(--clr-li);
  }
}

#insta-tag::after {
  content: "INSTA";
  opacity: 0;
  position: fixed;
  color: var(--clr-li);
  background-color: var(--clr-accent1);
  height: inherit;
  width: inherit;
}

#discord-tag::after {
  content: "CORD";
  opacity: 0;
  position: fixed;
  color: var(--clr-li);
  background-color: var(--clr-accent1);
  height: inherit;
  width: inherit;
}

#insta-tag:hover::after {
  display: flex;
  opacity: 100%;
  svg {
    opacity: 0%;
  }
}
#discord-tag:hover::after {
  display: flex;
  opacity: 100%;
  svg {
    opacity: 0%;
  }
}

.left-col--media-wrapper {
  display: flex;
  flex-direction: column;
  /* flex: 0.5; */
  flex: 1;
  /* flex-shrink: 1; */
  position: relative;

  video,
  iframe,
  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 12rem;
    flex: auto;
  }
}

#webamp-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* width: 100%; */
  /* flex: auto; */
  /* margin-top: 2rem; */
}

.SON-description {
  display: flex;
  span {
    display: flex;
    /* UNCOMMENT FOR WIDER DESC TEXT */
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.3em;
    letter-spacing: 0.15ch;
    width: 100%;
  }

  a {
    color: var(--clr-accent1);
  }
}

/* ---------------------------colormode toggle---------------------- */
.color-mode-and-theme-wrapper {
  display: flex;
  gap: 1rem;
  place-items: center;
  padding: 0.5rem 1rem;
}

#colorModeToggle {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
  div {
    display: flex;
  }
  div svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

#colorThemeSelect {
  label {
    font-size: 85%;
  }
  select {
    color: var(--clr-li);
    background-color: var(--clr-accent1);
    border: 0px;
    outline: 0px;
  }

  option {
    color: var(--clr-li);
    background-color: transparent;
  }
}

.active :not(h1) {
  background-color: var(--clr-accent1);
  color: var(--clr-li);
  border-radius: 0.25rem;
  border: none;
}

/* ---------------------------LAYOUT---------------------- */

#feed-wrapper,
#artists-wrapper,
#artist-profile-page-wrapper,
#about-wrapper,
#issues-wrapper,
#issue-wrapper,
#home-page-wrapper,
#blog-post-full-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1.5;
  max-width: 100%;
  h2 {
    font-size: 400%;
    font-weight: 300;
    padding: 1rem;
  }

  span {
    display: flex;
    padding: 2rem;
    max-width: 60rem;
    text-align: justify;
  }
}

/* ----------------------NEW POST BLOGS CSS---------------------- */
#home-page-wrapper {
  padding-block: 4rem;
}

.blog-posts-wrapper {
  display: grid;
  gap: 1rem;
  /* padding: 1rem; */
  margin: 0 auto;
}

.post-item {
  display: flex;
  color: var(--clr-li);
  text-decoration: none;
  border: 0.15rem rgba(114, 114, 114, 0.438);
  border-style: solid;
  max-width: 100%;
  border-radius: 0.15rem;
  width: fit-content;

  .blog-post-card-content {
    /* padding: 0.75rem; */
    /* padding-left: 0.5rem; */
    padding-bottom: 0;
    display: grid;
    /* place-items: start; */
    grid-template-areas:
      "TAGS NAME_DATE"
      "TITLE TITLE"
      "DESCRIPTION DESCRIPTION"
      "DESCRIPTION DESCRIPTION"
      "DESCRIPTION DESCRIPTION";
    /* gap: 1rem; */
  }

  h4 {
    grid-area: TITLE;
    font-size: 1.6rem;

    align-self: center;
    padding-inline-start: 0.5rem;
  }

  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  p {
    grid-area: DESCRIPTION;
    line-height: 1.7;
    opacity: 90%;
    font-weight: 100;
    background-color: rgba(70, 70, 70, 0.11);
    /* align-self: justify; */
    /* text-indent: 10%; */
    padding: 0.5rem;
    border-top: 0.015rem solid rgba(70, 70, 70, 0.377);
    padding-inline-end: 2rem;
    max-width: 60ch;
  }
  img {
    display: flex;

    height: 20rem;
    width: 20rem;
    object-fit: cover;
    grid-area: IMAGE;
  }

  .descriptors-post {
    grid-area: TAGS;
    display: flex;
    align-self: center;
    gap: 0.25rem;
    padding-inline-start: 0.5rem;

    h6 {
      border: 0.05rem solid var(--clr-accent1);
      /* place-self: start; */
      color: var(--clr-li);
      padding: 0.15rem;
      text-transform: uppercase;
    }
  }
  .name-date-post {
    grid-area: NAME_DATE;
    color: var(--clr-li);
    place-self: center;
  }
}

.post-item:hover,
.post-item:focus-visible {
  border-color: var(--clr-accent1);
  border-style: ridge;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
}

/* ---------------------------FULL BLOG PAGE--------------------------- */

#blog-post-full-page-wrapper {
  max-width: 100%;
  img {
    height: 25rem;
    object-fit: cover;
    max-width: 100%;
  }
}

.post-content-wrapper {
  display: grid;
  padding: 2rem;
  grid-template-areas:
    "TAGS TITLE TITLE"
    "AUTHDATE POSTCONTENT POSTCONTENT"
    "AUTHDATE POSTCONTENT POSTCONTENT";
  gap: 0.5rem 2rem;
  h3 {
    font-size: 2rem;
    grid-area: TITLE;
    margin-bottom: 1rem;
    /* background-color: var(--clr-li); */
    color: var(--clr-li);
    text-shadow: 0 0 0.015rem var(--clr-accent1);
    /* filter: opacity(0.15); */
    /* padding-inline-start: 1rem; */
    /* border-left: 1px dashed var(--clr-accent1); */
  }
  #tags {
    grid-area: TAGS;
    font-size: larger;

    h6 {
      border: 0.05rem solid var(--clr-accent1);
      /* opacity: 50%; */
      padding: 0.25rem;
      letter-spacing: 0.5ch;
      text-transform: uppercase;
    }
  }
  #authdate {
    grid-area: AUTHDATE;
    font-size: 1.4rem;
    opacity: 90%;
    letter-spacing: 0.15ch;
  }
  p {
    grid-area: POSTCONTENT;
    padding: 0;
    line-height: 1.8;
    max-width: 80ch;
    padding-inline-start: 1rem;
    border-left: 1px dashed var(--clr-accent1);
    /* border-spacing: 5rem; */
  }
}

/* --------------------------- ABOUT ---------------------- */
#about-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: auto;
  gap: 2rem;
  padding-block: 4rem;
}

.header-img-wrapper {
  /* display: flex; */
  position: relative;
  max-width: 90%;
}

#star-icon-left {
  position: absolute;
  left: -25px;
  bottom: -22px;
  z-index: 1;
}

#star-icon-right {
  position: absolute;
  right: -25px;
  bottom: -23px;
  z-index: 1;
}

.light #star-icon-left {
  content: url("../src/assets/media/photos/ABOUT/newblackstarzL.webp");
  z-index: 1;
  left: -25px;
  bottom: -22px;
}
.light #star-icon-right {
  content: url("../src/assets/media/photos/ABOUT/newblackstarzR.webp");
  right: -25px;
  bottom: -23px;
  z-index: 1;
}

.dark #star-icon-left {
  content: url("../src/assets/media/photos/ABOUT/STARZ_L_WHITE.svg");
}
.dark #star-icon-right {
  content: url("../src/assets/media/photos/ABOUT/STARZ_R_WHITE.svg");
}

#about-header-img {
  height: 15rem;
  width: 25rem;
  max-width: 100%;
  border: 0.15rem solid var(--clr-li);
  position: relative;
  object-fit: cover;
}

#about-header-text {
  /* height: 6rem; */
  object-fit: contain;
  max-width: 90%;
}

.light {
  #about-header-text {
    content: url("../src/assets/media/photos/ABOUT/about_us_txt_light_mode.png");
  }
}

.about-spans {
  display: flex;
  /* gap: 1rem; */
  /* margin: auto; */
  line-height: 1.45;
  font-size: 1.6rem;
  text-align: justify;
  text-wrap: stable;

  p {
    /* font-family: "PPMondwest Regular"; */
    padding-top: 0 !important;
    max-width: 35ch;
    /* word-break: pretty; */
    /* text-justify: none; */
    justify-content: center;
    align-items: center;
    /* place-content: center; */
  }
  select {
    font-family: inherit;
    /* border: none; */
    /* line-height: 1; */
    outline: none;
    /* background-color: transparent; */
    border: 2px dashed var(--clr-accent2);
    /* border-spacing: 12ch; */
    color: var(--clr-bg);
    font-size: inherit;
    /* justify-content: baseline; */
    /* height: min-content; */
    padding: 0;
    margin: 0;
    height: inherit;
  }

  option {
    color: var(--clr-bg);
    background-color: var(--clr-accent1);
    /* text-align: center; */
    /* height: min-content; */
  }
}

.light select {
  color: var(--clr-li);
}

.drop-pic {
  display: none;
}

.drop-1-activated {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 20rem;
  aspect-ratio: 1;
  top: 10rem;
  left: 1rem;
}

.drop-2-activated {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 20rem;
  aspect-ratio: 1;
  top: -5rem;
  right: -1rem;
}
.drop-3-activated {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 25rem;
  aspect-ratio: 1;
  bottom: 0rem;
  right: -5rem;
}
.drop-4-activated {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 15rem;
  aspect-ratio: 1;
  bottom: 7rem;
  left: 5rem;
}
/* ------------------------------ ISSUES PAGE ----------------------- */
.issues {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-items: start;
  padding: 1rem;
  gap: 1rem;
}

#zine-card {
  display: flex;
  flex-direction: column;
  color: var(--clr-li);
  width: fit-content;
  height: min-content;
  text-decoration: none;
  gap: 1rem;
  position: relative;
  max-width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  img {
    transition: all 1s ease-in-out;
    width: 25rem;

    max-width: 100%;
    object-fit: contain;
  }
}

.zine-card-details {
  font-size: 155%;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  opacity: 0;
  /* border-radius: 0.15rem; */
  transition: opacity 1s ease-in-out;
  text-align: center;
  p {
    font-size: 55%;
  }
}

.artists-featured-wrapper {
  opacity: 0;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-li);
  color: var(--clr-bg);
  position: absolute;
  gap: 0.5rem;
  right: 0;
  top: 0;
  height: 100%;

  font-size: larger;
  transition: all 0.5s ease-in;

  p {
    width: auto;
  }
}

#zine-card:hover,
#zine-card:focus-visible {
  background-color: var(--clr-accent1);
  /* border: 0.15rem solid transparent; */
  position: relative;
  box-shadow: 0 0 1rem rgba(117, 117, 117, 0.425);
  transition: all 0.5s ease-in-out;

  img {
    scale: 1.05;
  }
  .zine-card-details {
    display: grid;
    opacity: 1;
    color: var(--clr-accent1);
    font-size: 150%;
    background-color: var(--clr-bg);
    padding: 1rem;
    border-radius: 1rem;
  }
  .artists-featured-wrapper {
    opacity: 1;
    padding: 1rem;
  }
}

/* ------------------------------ ISSUE LAYOUT ----------------------- */

/* ------------------------------ POSTS ----------------------- */

/* #posts-wrapper {
  display: grid;
  gap: 2rem;
}

.post {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  width: fit-content;
  border: 0.15rem solid rgba(70, 70, 70, 0.425);

  img {
    height: 15rem;
    aspect-ratio: 1;
    flex: 0.25;
    object-fit: cover;
  }
  h6 {
    font-size: 110%;
  }
}
.post:hover,
.post:focus-visible {
  border: 0.15rem solid var(--clr-accent1);
}

.post-title-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  gap: 1rem;

  p {
    max-width: 50ch;
    line-height: 1.5;
  }
}

.post-title {
  font-size: 3rem;
  font-weight: 600;
}

.post-artist {
  font-size: 1.5rem;
  display: flex;
}

.post-module-outside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(5px);
  background-color: transparent;
  overflow: hidden;
}

.post-module-wrapper {
  display: grid;
  background-color: var(--clr-bg);
  width: 75dvw;
  height: 80svh;
  z-index: 100;
  place-self: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 3rem;
  overflow-x: hidden;
  color: var(--clr-li);
}

#post-closed {
  display: none;
}

#close-post-module-icon {
  position: absolute;
  right: 1%;
  top: 1%;
  height: 3rem;
  width: 3rem;
}

.module-header {
  display: flex;
  gap: 5rem;
  align-items: start;
  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.module-content {
  display: grid;
  place-content: start;
  gap: 1rem;
} */
/* ------------------------------ ROSTER ----------------------- */
.artist-profile-header {
  display: flex !important;
  padding: 1rem;
  gap: 2rem;
}
/* ------------------------------ ARTIST CARD ----------------------- */

.artist-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  align-items: start;
  padding: 1rem;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}

.artist-card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: var(--clr-li);
  gap: 0.75rem;
  aspect-ratio: 1;
  border: 0.15rem solid rgba(70, 70, 70, 0.425);
  border-radius: 0.15rem;
  padding: 1rem;
  transition: all 0.25s ease-in;

  h3 {
    text-decoration: none;
  }
  * {
    text-decoration: none;
  }
}
.artist-card:hover {
  border: 0.15rem solid var(--clr-accent1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  .artist-card-title {
    color: var(--clr-accent1);
  }
}

.artist-card-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}

.artist-card-context {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.25rem;
  gap: 0.25rem;
}

.artist-card-name {
  font-size: 200%;
}

.artist-card-title {
  text-decoration: none;
  line-height: 1;
  width: 100%;
  color: var(--clr-accent2);
  a {
    text-decoration: none;
  }
}

/* ------------------------------ARTIST PROFILE----------------------- */

#artist-profile-page-wrapper {
  h2 {
    font-size: 4rem;
    padding: 0;
  }
  h3 {
    font-size: 1.5rem;
    color: var(--clr-accent2);
    font-weight: 100;
  }
  span {
    padding: 0;
    max-width: 65ch;
    line-height: 1.7;
    font-size: 140%;
  }
  .artist-profile-img {
    height: 20rem;
    aspect-ratio: 1;
    max-width: 100%;
    object-fit: cover;
  }
}

.artist-profile-header {
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.artist-profile-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#mobile-nav-wrapper {
  display: none;
}

.artist-posts-wrapper {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

/* -----------------------MOBILE QUERY ---------------------------*/

@media screen and (max-width: 1024px) {
  #root {
    flex-direction: column;
    font-size: 0.85rem;
    height: 100dvh;
    /* line-height: 2; */

    h1 {
      font-size: 5rem;
    }
    /* h2 {
      font-size: 500%;
    } */
  }
  body {
    overflow-y: hidden;
    position: relative;
  }
  #LEFT-COL-WRAPPER {
    /* display: displayinternal; */
    flex: unset;
    height: min-content;
    /* display: hidden; */
  }

  .left-col--top {
    display: flex !important;
    height: inherit;
  }

  .left-col--media-wrapper video,
  hr,
  .left-col--media-wrapper {
    display: none;
  }

  .left-col--top {
    display: flex;
    gap: 0;
    align-items: center;

    border-bottom: 0.05rem solid rgba(70, 70, 70, 0.425);
    nav {
      place-content: center;
      place-items: center;
    }
  }
  .symptoms-of-nature-logo-wrapper {
    display: flex;
    img {
      object-fit: contain;
      height: 100%;
      width: 10rem !important;
    }
  }

  .SON-description span {
    display: none;
  }

  #posts-wrapper {
    display: grid;
    * {
      font-size: 1rem;
    }
  }

  .post-content-wrapper {
    grid-template-areas:
      "TAGS TAGS"
      "TITLE TITLE"
      "AUTHDATE AUTHDATE"
      "POSTCONTENT POSTCONTENT";
    gap: 1rem;
    #tags {
      display: flex;
      h6 {
        width: min-content;
      }
    }
    /* #authdate {
      display: flex;
    } */
    h3 {
      margin: 0;
    }
  }

  /* #home-page-wrapper, */
  #feed-wrapper,
  #artists-wrapper,
  #about-wrapper,
  #issues-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 85svh;
    padding-bottom: 10svh;

    padding: 1rem;
    gap: 0.5rem;
    h2 {
      /* UNCOMMENT FOR UNCENTERED TEXT ON MOBILE */
      /* text-align: start; */
      font-size: 205%;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  .blog-posts-wrapper {
    .post-item {
      display: grid;
      max-width: 100%;
      gap: 1rem;
      img {
        width: 100%;
        /* height: 25%; */
      }
      h4 {
        margin-bottom: 0.25rem;
      }
      p {
        padding: unset;
        padding: 1rem;
      }
    }
    .blog-post-card-content {
      gap: 1rem;
      /* padding-top: 1rem; */
    }
  }

  #about-wrapper {
    overflow-y: scroll;
    place-content: start;
    padding-block: 1rem;
    max-width: 100%;
  }

  #about-icon {
    padding-block: 0;
  }

  #about-icon {
    height: 2.5rem;
    margin-block: 0.5rem;
    padding: 0;
    object-fit: contain;
  }
  #about-header-img {
    max-width: 100%;
    margin-bottom: unset;

    /* padding-top: 1rem; */
  }

  #about-header-text {
    display: flex;
    /* width: 75%; */
    object-fit: cover;
    /* height: 60%; */
    margin-block: unset;
  }

  .about-spans {
    /* text-justify: pretty; */
    font-size: 1.3rem;
    padding-block: 0.5rem;
    p {
      max-width: 85%;
      text-align: justify;
      text-justify: newspaper;
      margin: 0 auto;
    }

    select {
      height: min-content;
    }
    option {
      font-size: 1.25rem;
      padding: 0;
      margin: 0;
      height: min-content;
      background-color: var(--clr-accent2);
    }
    option::selection {
      color: var(--clr-li);
      background-color: var(--clr-accent1);
    }
  }

  /* .symptoms-of-nature-wrapper {
    font-size: 250%;
  } */
  #hr-important {
    display: flex;
  }
  .artist-profile-header {
    flex-wrap: wrap;
  }

  .artist-profile-content {
    max-width: 100%;
    line-height: 1.6;
  }
  .post-titles {
    display: flex;
    flex-direction: column;
  }

  #posts-wrapper {
    padding: 0;
  }

  .color-mode-and-theme-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    z-index: 10000;
    outline: 1px solid var(--clr-accent1);
  }

  #colorThemeSelect {
    display: grid;
    gap: 0.25rem;
  }

  #nav-full {
    display: none;
  }

  #mobile-nav-wrapper {
    display: grid;
    flex: 1.5;
    justify-content: end;
    padding-right: 1rem;
    .nav-mobile-closed {
      display: none;
    }
  }
  .color-mode-and-theme-wrapper,
  .socials-wrapper {
    display: none;
  }

  .nav-mobile-open {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    background: var(--clr-bg);
    z-index: 1000;
    gap: 1rem;
    font-size: 200%;
    .color-mode-and-theme-wrapper {
      display: flex;
    }
    .socials-wrapper {
      display: flex;
    }
  }

  .hamburger-wrapper {
    display: flex;
    flex: auto;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  .artist-cards {
    gap: 3rem;
    padding: 0;
    padding-block: 0;
    margin-bottom: 10rem;
    place-items: center;
    /* max-width: 90vw; */
    /* margin: 0 auto; */
    font-size: 150%;
    a {
      text-decoration: none;
    }
  }

  .artist-card {
    /* width: unset; */
    font-size: 85%;
    width: auto;
    /* width: 10rem; */
    flex: auto;
  }

  .artist-card-img {
    height: 100%;
    width: 20rem;
    object-fit: contain;
    max-width: 100%;
  }

  #posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 2rem;
    place-content: center;
    place-items: center;
    align-items: center;
  }

  #artist-profile-page-wrapper {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .artist-posts-wrapper {
    display: grid;
    gap: 1rem;
    /* border-top: 0.15rem solid var(--clr-accent1); */
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    p {
      max-width: 100%;
    }
    img {
      width: auto;
      object-fit: cover;
      max-width: 100%;
    }
  }

  .post-title-wrapper {
    /* position: relative; */
    display: flex;
    /* margin: auto */
    flex-basis: 15rem;
    padding-right: 1rem;
  }

  .post-img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .post-module-wrapper {
    position: absolute;
    height: 75vh;
    width: 100svw;
    border-width: 0.15rem;
    /* font-family: "PPMondwest Regular"; */
  }

  .module-header {
    display: grid;
  }

  .issues {
    padding: 0;

    max-width: 100%;
  }

  #zine-card {
    max-width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  #issue-wrapper {
    place-content: start;
    justify-content: center;
    /* place-items: center; */
    gap: 1rem;
    margin-block: 1rem;
    div {
      height: 90svh;
      /* flex: auto; */
    }
  }
}
